// General Styles

.container{
    margin: 0 5%;
} 
.btn {
    .textFontProp(.75rem, light ,black, @tFont1);
    width: 75px;
    border-radius: 50%;
    @media @tablet {
        font-size: 1rem;
        width: 100px;
    }
    @media @desk {
        font-size: 1.25rem;
        width: 150px;
    }
    &:hover {
        color: blue;
}
}