// Mixins
.hFontProp (@size, @weight, @color, @font){
    font-size: @size;
    font-weight: @weight;
    color: @color;
    font-family: @font;
}
.textFontProp ( @size, @weight, @color, @font)
{
    font-size: @size;
    font-weight: @weight;
    color: @color;
    font-family: @font; 
}

// exits

@tablet: ~'(min-width: 500px)';
@desk: ~'(min-width: 800px)';