@import url('https://fonts.googleapis.com/css?family=Akronim|Nanum+Pen+Script|Open+Sans+Condensed:300|Permanent+Marker&display=swap');

// Variables

//fonts
@hFont: 'akronim';
@tFont1: 'Permanent Marker';
@tFont2: 'Nanum Pen Script';